.main-div {
  text-align: center;

  .panel {

    h2 {
      margin: 0 0 8px 0;
    }
  }

  .create-account {
    @include sans-serif-font;
    text-align: left;
    font-size: 14px;
  }

  .btn {
    width: 100%;
  }
}