form {
  label {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.posts-list {

  td.actions {
    text-align: center;

    a {
      text-decoration: none;
      color: green;

      &:hover {
        color: #0085A1;
      }
    }

    form {
      display: inline;

      button {
        border: none;
        background: none;
        cursor: pointer;
        color: red;

        &:focus {
          outline: none;
        }

        &:hover {
          color: #0085A1;
        }
      }
    }
  }

  thead th {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}